django==1.6
httplib2==0.9
Pillow==2.7.0
fpdf==1.7.2
m2crypto>=0.18
# PyAfipWS
-e git+https://github.com/reingart/pyafipws.git#egg=pyafipws
# pysimplesoap - copia de la rama reingart
-e git+https://github.com/matuu/pysimplesoap-for-pyafipws.git#egg=pysimplesoap-for-pyafipws
#django-crispy-forms==1.4.0
django-bootstrap3
South==1.0.2
-e git+https://github.com/matuu/django-enhanced-cbv.git#egg=django-enhanced-cbv