body {
    background-color: #e1f0f6;
}

h1, h2, h3 {
    color: #163362;
}

ul.menu {
    clear: both;
}
 ul.menu li {
     display: inline-block;

     list-style: none;
 }

 ul.menu li > a {
     outline: none;
     text-decoration: none;
     text-transform: uppercase;
     color: #163362;
 }

